.tagContainer {
  display: flex;
  width: min-content;
  color: #293241;
  font-weight: 600;
  margin-right: 5px;
  padding: 5px;
  background-color: #a7cd24;
  border-radius: 5px;
  max-height: 40px;
  align-items: center;
}
