.mainWrapper {
  width: 100%;
  margin-top: 8rem;
}
.contentWrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 4rem;
}
.imageBox {
  overflow: hidden;
  border-radius: 10px;
}
.metaBox,
.articleBodyStyles {
  width: 100%;
}
.svgWrapper {
  display: flex;
  align-content: center;
  margin-bottom: 70px;
}
.svgAnimation {
  transition: transform 0.3s ease-out;
}
.svgAnimation:hover {
  transform: translateX(-4px);
}
.svgStyle {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}
.titleStyles {
  line-height: 1.15;
  font-size: 4rem;
}
.subTitle {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.articleBodyStyles p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #1a1a1a;
}
.articleInfoBox {
  width: 100%;
  margin: 2rem 0;
}
.timeToRead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .contentWrapper {
    padding: 0 1rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .articleBodyStyles,
  .metaBox {
    padding: 0 10vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
