.heroWrapper {
  color: #fff;
  width: 100vw;
}
.heroWrapper svg {
  width: 100%;
  height: 120px;
}
.heroContainer {
  background-color: #356488;
  width: 100%;
}
.heroContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.heroImageContainer,
.heroTitles {
  max-width: 40rem;
  align-items: center;
}
.heroTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroImageContainer {
  padding: 1vw 0;
  overflow: overlay;
  margin: 0 auto;
}
.heroTitles h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}
.description {
  line-height: 1;
  font-size: 1.4rem;
}
.imageWrapper {
  border-radius: 58% 42% 59% 41% / 50% 54% 46% 50%;
  background: #fafafa;
  padding: 30px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .heroTitles {
    max-width: 350px;
  }
  .title {
    font-size: 3rem;
  }
  .heroContent {
    flex-wrap: nowrap;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .imageWrapper {
    /* border-radius: 58% 42% 67% 33% / 71% 90% 10% 29%; */
    padding: 40px;
  }
  .heroTitles {
    max-width: 450px;
  }
  .heroContent {
    padding: 0 4rem;
  }
  .heroImageContainer {
    margin: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .heroContent {
    padding: 0 8rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .imageWrapper {
    padding: 50px;
  }
  .heroTitles {
    max-width: 600px;
  }
  .title {
    font-size: 4rem;
  }
}
